/***************************TAGS*************************/
body {
  background-color: #ffd5cd;
  ;
}

hr {
  border: none;
  border-top: 8px dotted #c3aed6;
  ;
  width: 5%;
}

h1, h2, h3 {
  color: #8675A9;
  ;
}

a img:last-child {
  display: none;
}
a:hover img:last-child {
  display: block;
}
a:hover img:first-child {
  display: none;
}

/***************************CLASSES*************************/
.alpha {
  text-align: center;
}

/***************************IDs*************************/
